$dc-primary: #0282f9;
$dc-dark:#1c1c1c;
$dc-dark-light: #4d5661;
$dc-light: #ffffff;

@mixin button{
    border: transparent;
    color: $dc-light ;
    padding: 1rem;
    background-color: unset;
    border: 2px solid $dc-primary;
    text-transform: uppercase;
}